@charset "UTF-8";
@font-face {
  font-family: "National2";
  src: url("../fonts/National2/National2-Light.eot");
  src: url("../fonts/National2/National2-Light.woff") format("woff"), url("../fonts/National2/National2-Light.ttf") format("truetype"), url("../fonts/National2/National2-Light.svg#National2") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Regular";
  src: url("../fonts/National2/National2-Regular.eot");
  src: url("../fonts/National2/National2-Regular.woff") format("woff"), url("../fonts/National2/National2-Regular.ttf") format("truetype"), url("../fonts/National2/National2-Regular.svg#National2-Regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Bold";
  src: url("../fonts/National2/National2-Bold.eot");
  src: url("../fonts/National2/National2-Bold.woff") format("woff"), url("../fonts/National2/National2-Bold.ttf") format("truetype"), url("../fonts/National2/National2-Bold.svg#National2-Bold") format("svg");
  font-weight: normal;
}
* {
  box-sizing: border-box;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  word-wrap: break-word;
  background-color: #f7f7f7;
  font-family: "National2", verdana, sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

a:link {
  text-decoration: none;
  color: #12312b;
}

a:visited {
  color: #12312b;
}

a:active,
a:hover {
  color: #424141;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
}

h3 {
  font-size: 1.5625rem;
  line-height: 2.8125rem;
}

h4 {
  font-size: 1.40625rem;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
.row + .row {
  margin-top: 20px;
}

.full {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.third {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.twothirds {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.half {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.quarter {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.threequarters {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.twelfth {
  display: none;
}

.eleventwelfths {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.yellowbg {
  background-color: rgb(98.0392156863%, 93.137254902%, 70.5882352941%) !important;
}

.orangebg {
  background-color: rgb(100%, 81.3725490196%, 52.9411764706%) !important;
}

.redbg {
  background-color: rgb(80.7843137255%, 54.3137254902%, 59.0196078431%) !important;
}

.greenbg {
  background-color: rgb(50%, 70.5882352941%, 62.1568627451%) !important;
}

.lightbluebg {
  background-color: rgb(57.4509803922%, 73.9215686275%, 86.4705882353%) !important;
}

.bluebg {
  background-color: rgb(50%, 61.7647058824%, 72.5490196078%) !important;
}

.purplebg {
  background-color: rgb(77.0588235294%, 70.5882352941%, 79.4117647059%) !important;
}

.whitebg {
  background-color: #fff !important;
}

.yellowtext {
  color: #f5dc69;
}

.orangetext {
  color: #ffa00f;
}

.redtext {
  color: #9d162e;
}

.greentext {
  color: #00693e;
}

.lightbluetext {
  color: #267aba;
}

.bluetext {
  color: #003c73;
}

.purpletext {
  color: #8a6996;
}

.whitetext {
  color: #fff !important;
}
.whitetext * {
  color: #fff !important;
}
.whitetext *:hover {
  color: #fff !important;
}

.centertext {
  text-align: center;
}

input,
textarea,
button,
.button,
select {
  margin: 0;
  vertical-align: top;
  font-family: "National2", verdana, sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea {
  height: 45px;
  margin: 0;
  padding: 7px 1.25rem 6px;
  border: 1px solid #ababab;
  appearance: none;
  border-radius: 0;
}

textarea {
  height: 90px;
}

input[type=file] {
  vertical-align: bottom;
  font-size: 0.9375rem;
  line-height: 1;
}

button,
.button,
a.button,
[type=submit] {
  display: inline-block;
  padding: 7.5px 15px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background-color: #00693e;
  appearance: none;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
button:hover,
.button:hover,
a.button:hover,
[type=submit]:hover {
  color: #fff;
  background-color: #12312b;
}
button.inactive,
.button.inactive,
a.button.inactive,
[type=submit].inactive {
  opacity: 0.5;
  background-color: #ababab;
}
button.inactive:hover,
.button.inactive:hover,
a.button.inactive:hover,
[type=submit].inactive:hover {
  background-color: #ababab;
}

select {
  height: 45px;
  margin-bottom: 0.5rem;
  padding: 7.5px;
  border-color: #ababab;
  background-color: #fff;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.field .field-meta {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
  display: flex;
  flex-flow: column;
}

.field .inputs {
  flex: 1 1 calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
  display: flex;
  flex-flow: column;
}
.field .inputs > select,
.field .inputs > textarea,
.field .inputs > input[type=text],
.field .inputs > input[type=password],
.field .inputs > input[type=email],
.field .inputs > input[type=url] {
  width: 100%;
}
.field .inputs input[type=checkbox] {
  vertical-align: bottom;
}
.field .inputs .add-value.button {
  text-align: center;
}

.field.required .field-meta::after {
  content: "\f069";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 0.9375rem;
  font-weight: bold;
}

.field .value:not(:last-child) {
  margin-bottom: 15px;
}

.field-description {
  font-size: 0.9375rem;
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 66px;
  padding: 0.5rem;
  background: linear-gradient(to right, rgb(80.7843137255%, 54.3137254902%, 59.0196078431%) 0%, rgb(100%, 81.3725490196%, 52.9411764706%) 17%, rgb(98.0392156863%, 93.137254902%, 70.5882352941%) 33%, rgb(50%, 70.5882352941%, 62.1568627451%) 50%, rgb(57.4509803922%, 73.9215686275%, 86.4705882353%) 67%, rgb(50%, 61.7647058824%, 72.5490196078%) 83%, rgb(77.0588235294%, 70.5882352941%, 79.4117647059%) 100%);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
}
header > * {
  display: block;
  padding: 0 1.25rem;
}
header .closed {
  display: none;
}
header .open {
  display: block;
}
header .open .closed {
  display: inline;
}
header .open .closed > * {
  display: none;
}
header nav {
  position: relative;
  padding: 0 1rem;
}
header nav > .open {
  position: absolute;
  top: 54px;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul > li {
  display: inline-block;
  list-style: none;
}
header ul li {
  list-style: none;
}

header nav > ul.menu {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  background-color: #12312b;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}
header nav > ul.menu a {
  display: inline-block;
  width: 100%;
  padding: 7.5px;
  color: #fff;
}
header nav > ul.menu a:hover {
  color: #fff;
  border-bottom: 0;
}
header nav > ul.menu li {
  position: relative;
}
header nav > ul.menu > li {
  width: 100%;
}
header nav > ul.menu li li:last-of-type {
  padding-bottom: 0;
}
header nav > ul.menu li.active {
  font-weight: bold;
}
header nav > ul.menu li > ul {
  color: #12312b;
  background-color: #c4dd88;
}
header nav > ul.menu li > ul a {
  color: #12312b;
}
header nav > ul.menu li > ul a:hover {
  color: #12312b;
}
header nav > ul.menu li > ul::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding: 7.5px;
  content: "\f105";
  text-align: center;
  color: #fff;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: bold;
}
header nav > ul.menu li > ul:hover::before {
  content: "\f107";
}
header nav > ul.menu li > ul.open::before {
  content: "\f107";
}
header nav > ul.menu li > ul.closed::before {
  content: "\f105";
}
header nav > ul.menu a:hover ~ ul::before {
  color: #ababab;
}
header nav > ul.menu > ul {
  margin-left: 30px;
}

header nav > ul.menu ul li {
  display: block;
  height: auto;
  border: 0;
}

header nav > ul.menu ul:hover > li {
  height: auto;
}

header nav > ul.menu > li > ul > li.active > a {
  margin-left: 0;
}

header nav > ul.menu > li > ul > li a {
  padding-left: 30px;
}

.sub-menu ul {
  margin-top: 15px;
  padding-left: 0;
  list-style-type: none;
}

.sub-menu li {
  padding: 7.5px 0 6.5px;
  border-bottom: 1px solid #f7f7f7;
  font-size: 0.9375rem;
  font-weight: bold;
}
.sub-menu li:first-of-type {
  padding-top: 6.5px;
  border-top: 1px solid #f7f7f7;
}

#mobilemenu {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
#mobilemenu li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  list-style: none;
  line-height: 30px;
}
#mobilemenu li#mobilelogo {
  float: left;
  width: 36px;
  height: 54px;
  margin: 0 0 0 15px;
  padding: 0;
  content: " ";
  background: url("../img/dartmouth-college-logo_pine.svg") no-repeat;
  background-position: -8px 2px;
  background-size: 50px 60px, cover;
}
#mobilemenu li#mobilebanner {
  float: left;
  font-family: "Lora", georgia, serif;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 100%;
}
#mobilemenu li.rightctl {
  float: right;
  width: 50px;
  height: 54px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  font-size: 1.6em;
}
#mobilemenu li.rightctl.clicked {
  color: #fff;
  background-color: #12312b;
}

nav.pagination {
  margin-bottom: 15px;
  font-size: 1.25rem;
  line-height: 2.8125rem;
}
nav.pagination span {
  display: inline-block;
  height: 45px;
}
nav.pagination input {
  width: 60px;
  text-align: center;
}
nav.pagination form {
  width: 100%;
  min-width: 90px;
  margin-bottom: 15px;
}

.resource-list + .pagination {
  border-color: transparent;
}

.pagination form,
.pagination .button,
.pagination button,
.pagination .page-count {
  display: inline-block;
  height: 2.8125rem;
  vertical-align: top;
}

.pagination .page-count,
.pagination .row-count {
  margin: 0 15px;
}

.pagination form,
.pagination .last {
  margin-right: 7.5px;
}

.breadcrumbs {
  min-height: 0;
  margin: 0 0 0 1rem !important;
  margin-bottom: 0.4em;
  font-size: 0.8em;
  font-weight: bold;
}

button.o-icon-search {
  display: none;
}

.o-icon-prev,
.o-icon-next {
  width: 2.8125rem;
  height: 2.8125rem;
  text-align: center;
}

#search-form #quicksearchlabel {
  position: absolute;
  top: -100px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#search {
  position: absolute;
  right: 0;
  left: 0;
  padding: 7.5px 1.25rem;
  background-color: #12312b;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

#search form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}

#search form input[type=text] {
  width: 100%;
  border-radius: 3px 0 0 3px;
}

#search form button[type=submit] {
  position: relative;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  border-radius: 0 3px 3px 0;
  background-color: #ababab;
}
#search form button[type=submit]::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: "\f061";
  text-align: center;
  text-indent: 0;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: bold;
  line-height: 45px;
}
#search form button[type=submit]:hover {
  background-color: #424141;
}

#banner {
  display: none;
  margin: 0 1rem;
}

#after ul#sharing-buttons {
  padding-left: 0.75rem;
}

footer {
  color: #fff;
  background-color: #12312b;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #c4dd88;
}
footer a:visited {
  color: #fff;
}
footer a:active {
  color: #fff;
}
footer a:link {
  color: #fff;
}
footer .footerinfo {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 3rem 1rem;
}
footer .footerinfo img {
  height: 120px;
}
footer .footerinfo div {
  margin-bottom: 60px;
  padding: 0 2.5rem;
  text-align: center;
}

article {
  position: relative;
  margin: 0 1rem;
  padding-top: 1px;
}

#content {
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 54px;
  padding-bottom: 60px;
}
#content *:first-child {
  margin-top: 0;
}
#content h1,
#content h2,
#content h3,
#content h4 {
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
  color: #12312b;
  font-family: "Lora", georgia, serif;
  line-height: 2em;
}
#content h1 .title,
#content h2 .title,
#content h3 .title,
#content h4 .title {
  display: block;
  line-height: 1.5em;
}
#content h4 {
  border-bottom: solid 1px #12312b;
  font-size: 1.2em;
}
#content h5,
#content h6 {
  margin-bottom: 0.5em;
  letter-spacing: 0.06em;
  font-family: "National2", verdana, sans-serif;
  line-height: 1.6em;
}
#content h5 + p,
#content h6 + p {
  margin-top: 0.5em;
}
#content h5 {
  font-size: 1em;
}
#content h6 {
  margin-bottom: 0.25em;
  padding-left: 1em;
  border-left: solid 3px #ababab;
  font-size: 0.9em;
}
#content > .full {
  padding: 30px 0 30px;
}
#content > .full > .content-block h2 {
  margin-bottom: 0.75em;
}
#content > .full .site-summary {
  display: block;
  margin-bottom: 30px;
  margin-left: 1rem;
  color: #12312b;
  font-size: 1.3em;
  font-weight: bold;
}
#content .half .content-block h2 {
  margin-bottom: 0;
}
#content .content-block {
  padding: 1em;
  background-color: #fff;
}
#content .content-block + .content-block {
  margin-top: 20px;
}
#content .content-block h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: normal;
}
#content .content-block p {
  max-width: 970px;
  margin-top: 0;
  margin-bottom: 0;
}
#content .content-block .threequarters {
  margin-right: 0;
  padding-top: 1em;
}
#content .content-block .quarter .square {
  position: relative;
  display: block;
  width: 100%;
  max-height: 120px;
  content: " ";
  line-height: 0;
}
#content .content-block .quarter .square::after {
  display: block;
  padding-bottom: 100%;
  content: "";
}
#content .content-block .quarter .square .squarecontent {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  line-height: 1em;
}

.item-showcase {
  display: flex;
  clear: both;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 29px 0 0;
  text-align: center;
}

.item.resource .caption {
  font-size: 0.9375rem;
  line-height: 1.875rem;
}
.item.resource .caption * {
  margin: 0 0 30px 0;
}
.item.resource .caption > *:last-child {
  margin-bottom: 0;
}

.item-showcase .resource.item {
  margin-bottom: 30px;
  vertical-align: top;
}
.item-showcase .resource.item img {
  margin-right: 15px;
}
.item-showcase .resource.item:only-child img {
  margin: 0 auto;
}
.item-showcase .resource.item:not(:only-child) {
  clear: none;
  width: 100%;
  padding: 0 1.25rem;
}
.item-showcase .resource.item:not(:only-child) h3 {
  clear: left;
  margin: 15px 0 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
}
.item-showcase .resource.item:not(:only-child) img {
  float: none;
  max-height: 210px;
  margin-right: 0;
  vertical-align: top;
}
.item-showcase .resource.item .squareimage {
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.item-showcase .resource.item > a {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.right,
.left {
  overflow: hidden;
}

.left .item.resource,
.right .item.resource {
  width: min-content;
  max-width: 40vw;
  margin: 0 0 30px 0;
}
.left .item.resource:first-of-type,
.right .item.resource:first-of-type {
  margin-top: 0;
  padding-top: 29px;
  border-top: 1px solid #ababab;
}
.left .item.resource:last-of-type,
.right .item.resource:last-of-type {
  padding-bottom: 29px;
  border-bottom: 1px solid #ababab;
}
.left .item.resource .media-render > *,
.left .item.resource img,
.right .item.resource .media-render > *,
.right .item.resource img {
  max-width: 40vw;
}

.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
  max-width: 50%;
}

.left.file,
.right.file {
  max-width: 50%;
}

.left.file {
  float: left;
  clear: left;
}

.right.file {
  float: right;
  clear: right;
}

.left .item.resource {
  float: left;
  clear: left;
  margin-right: 30px;
}

.right .item.resource {
  float: right;
  clear: right;
  margin-left: 30px;
}

.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
  vertical-align: top;
}

.medium .item.resource > h3,
.square .item.resource > h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.left .item.resource > h3,
.right .item.resource > h3 {
  margin: 0;
}

.left .item.resource + p,
.right .item.resource + p {
  margin-top: 0;
}

.break {
  clear: both;
  width: 100%;
  margin: 30px 0;
  padding-bottom: -1px;
  border-bottom: 1px solid #ababab;
}
.break.transparent {
  border-color: transparent;
}
.break.opaque {
  border-color: #ababab;
}

.preview-block {
  overflow: hidden;
  margin: 30px 0;
}

.resource-list.preview + a {
  display: inline-block;
  padding: 7.5px;
  text-align: center;
  border-radius: 2px;
  background-color: #ababab;
  font-weight: bold;
  line-height: 1.875rem;
}
.resource-list.preview + a:hover {
  color: #fff;
  border-bottom-width: 0;
  background-color: #424141;
}

.toc-block > ul {
  margin: 30px 0;
  list-style-type: none;
  border-left: 5px solid #ababab;
}

.toc-block > ul > li {
  margin-bottom: 15px;
}

.toc-block > ul > li > a {
  font-weight: bold;
}

.toc-block ul ul {
  padding-left: 0;
  list-style-type: none;
}

.toc-block ul ul ul {
  padding-left: 1.25em;
}

.toc-block ul ul li::before {
  content: "—";
  color: #ababab;
}

.item-with-metadata #itemmedia .show.resource {
  margin: 0 0 60px 0;
}
.item-with-metadata #itemmedia .show.resource a {
  margin-right: 0;
}
.item-with-metadata #itemmedia .show.resource .media img {
  max-width: 100%;
}

.site-page-pagination {
  clear: both;
  margin-top: 60px;
}

.site-page-pagination a {
  display: inline-block;
  padding: 7.5px;
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  background-color: #ababab;
}

#content .list-of-sites .site-list {
  margin: 1rem 0.5rem;
}
#content .list-of-sites .site-list .site {
  margin-bottom: 15px;
}
#content .list-of-sites .site-list .site-link {
  display: inline-block;
  margin-bottom: 7.5px;
  font-size: 1.5625rem;
  font-weight: bold;
}
#content .list-of-sites .site-list .site-summary {
  margin: 0 0 0 15px;
  font-size: 1.125rem;
  font-weight: normal;
}

ul.resource-list {
  padding-left: 0;
  list-style-type: none;
}

ul.resource-list .resource {
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  padding-bottom: 29px;
  border-bottom: 1px solid #ababab;
}
ul.resource-list .resource > *:last-child {
  margin-bottom: 0;
}
ul.resource-list .resource:first-child {
  padding-top: 29px;
  border-top: 1px solid #ababab;
}

.item.resource > a {
  background: linear-gradient(to right, rgb(80.7843137255%, 54.3137254902%, 59.0196078431%) 0%, rgb(100%, 81.3725490196%, 52.9411764706%) 17%, rgb(98.0392156863%, 93.137254902%, 70.5882352941%) 33%, rgb(50%, 70.5882352941%, 62.1568627451%) 50%, rgb(57.4509803922%, 73.9215686275%, 86.4705882353%) 67%, rgb(50%, 61.7647058824%, 72.5490196078%) 83%, rgb(77.0588235294%, 70.5882352941%, 79.4117647059%) 100%);
}

ul.resource-list .resource.item a img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
ul.resource-list .resource.item > a {
  display: block;
  float: right;
}

ul.resource-list .resource h4 {
  margin-top: 0;
}

ul.resource-list .resource .description {
  position: relative;
  overflow: hidden;
  max-height: 90px;
}
ul.resource-list .resource .description::after {
  position: absolute;
  top: 52.5px;
  right: 0;
  left: 0;
  height: 37.5px;
  content: "";
  background: linear-gradient(to top, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}

ul.resource-list .resource img ~ * {
  width: calc(100% - 75px);
}

.search-filters {
  display: flex;
  flex-flow: column;
  min-height: 45px;
  margin-bottom: 15px;
}
.search-filters .filter {
  display: inline-block;
}
.search-filters .advanced-search.button {
  display: inline-block;
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

.filter-label,
.filter-value {
  display: inline-block;
  padding: 7.5px 15px;
  color: #12312b;
  border: 1px solid #c4dd88;
}

.filter-label {
  background-color: #c4dd88;
}

.filter-value {
  margin-left: -5px;
  background-color: #fff;
}

.browse-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.browse-controls > * {
  width: 100%;
}
.browse-controls > form.sorting {
  margin-bottom: 15px;
}
.browse-controls > form.sorting > * {
  width: 100%;
  margin-bottom: 15px;
}

body.resource #content > h2:first-of-type + h3 {
  margin: -30px 0 30px;
  text-transform: uppercase;
  font-size: 0.9375rem;
}

.property {
  margin-bottom: 30px;
}

.property h4 {
  margin-bottom: 0;
  font-size: 0.9375rem;
}

.resource-link img {
  display: inline-block;
  width: auto;
  height: 45px;
  margin-right: 7.5px;
  vertical-align: middle;
}

.property .value a {
  display: inline-block;
  vertical-align: middle;
}

.property .value:not(:last-child) img {
  margin-bottom: 7.5px;
}

.property .value:not(:last-child) img + a {
  margin-bottom: 7.5px;
}

.property .value .language {
  padding: 3.75px;
  background-color: rgb(82.0588221176%, 82.0588221176%, 82.0588221176%);
  font-size: 0.625rem;
}

#content .media.resource {
  display: inline-block;
  margin-right: 7.5px;
  text-align: center;
  vertical-align: bottom;
}
#content .media.resource:hover {
  border-bottom: 0;
}

#content .media.resource img {
  margin-bottom: 15px;
  vertical-align: top;
}

a.media.resource + a.media.resource {
  margin-top: 15px;
  margin-right: 0;
}

.media-render > * {
  max-width: 100%;
}

#linked-resources caption {
  padding: 7.5px 15px 4.5px;
  text-align: left;
  border-bottom: 3px solid #ababab;
  font-weight: bold;
}

#linked-filter h4 {
  margin-bottom: 15px;
}

#linked-resources .resource-link {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.site-page-interviews #content .content-block .blocks-inner .block-media .media-embed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}
.site-page-interviews #content .content-block .blocks-inner .block-media .media-embed h3 {
  line-height: normal;
}
.site-page-interviews #content .content-block .blocks-inner .block-media .media-embed a {
  display: inline-block;
}
.site-page-interviews #content .content-block .blocks-inner .block-media .media-embed img {
  max-height: 200px;
}

@media screen and (max-width: 540px) {
  .site-page-interviews #content .content-block .blocks-inner .block-media .media-embed {
    grid-template-columns: 100%;
  }
}
#advanced-search .value {
  display: inline;
}
#advanced-search .value:not(:last-child) {
  margin-bottom: 15px;
}
#advanced-search .value select,
#advanced-search .value input {
  float: left;
  width: 100%;
  margin: 0 0 7.5px 0;
}
#advanced-search .value select + .button,
#advanced-search .value input + .button {
  height: 2.8rem;
  margin-left: 0;
}

#page-actions input {
  width: 100%;
}

.remove-value {
  position: relative;
  width: 45px;
  margin-left: 7.5px;
  text-indent: -9999px;
}
.remove-value::before {
  position: absolute;
  inset: 0;
  text-indent: 0;
  line-height: 2.8125rem;
}

a.metadata-browse-link {
  font-size: 0.9375rem;
}

.interview {
  display: block;
  overflow: auto;
  max-height: 400px;
  margin-bottom: 45px;
  padding: 15px;
  background-color: #fff;
  box-shadow: inset 0 -26px 44px -44px #12312b;
}
.interview .speech + .speech::before {
  display: block;
  content: " ";
}
.interview .interlocutor {
  font-family: "National2-Bold", verdana, sans-serif;
}
.interview .description {
  display: none;
}

#properties {
  font-size: 0.8em;
}
#properties .property {
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1.5em;
}
#properties .property h4 {
  margin-top: 0;
  font-family: "National2-Regular", verdana, sans-serif;
}
#properties .property h5 {
  margin-bottom: 0;
  font-family: "National2-Regular", verdana, sans-serif;
}

#user-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.cutouttitle {
  background: linear-gradient(to right, #9d162e 0%, #ffa00f 17%, #f5dc69 33%, #00693e 50%, #267aba 67%, #003c73 83%, #8a6996 100%);
}

#itemproperties {
  max-height: fit-content;
  margin-left: 1rem;
  padding: 1em;
  color: #000;
  background-color: #c4dd88;
}
#itemproperties.no-transcript {
  padding: 0;
  background-color: transparent;
}
#itemproperties button {
  color: #fff;
  background-color: #00693e;
}
#itemproperties .button {
  color: #fff;
  background-color: #00693e;
}
#itemproperties .button:hover {
  background-color: #12312b;
}
#itemproperties #transcriptinfo {
  margin: 1rem 0;
}
#itemproperties.third {
  flex-basis: calc(33.33333% - 1.5rem);
  width: calc(100% - 1.5rem);
}
#itemproperties #itemsets {
  margin-top: 45px;
}
#itemproperties .media-render {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90px;
}
#itemproperties .media-render iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#itemtranscript {
  background-color: transparent;
}
#itemtranscript #transcriptinfo {
  margin-top: 45px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
#itemtranscript #transcriptinfo h4 {
  margin-bottom: 30px;
  text-align: center;
}
#itemtranscript #transcriptinfo a button {
  margin-top: 4px !important;
}

.content-block #itemproperties {
  margin-bottom: 30px;
}

body.hasuser header {
  top: 36px !important;
}
body.hasuser #banner {
  margin-top: 90px !important;
}
body.hasuser #content {
  margin-top: 90px !important;
}

.squarecontainer {
  width: 210px;
  height: 210px;
}
.squarecontainer.compat-object-fit {
  background-position: center center;
  background-size: contain;
}
.squarecontainer.compat-object-fit .squareimage {
  opacity: 0;
}

#search-results .item.resource > h3 {
  margin: 0;
}
#search-results .squarecontainer {
  width: 120px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .row {
    flex-flow: wrap;
  }
  .left {
    flex: 1 1 calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
  }
  .right {
    flex: 1 1 calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
  }
  .half {
    flex: 1 1 calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
  }
  .quarter,
  .third {
    flex: 1 1 calc(33.3333333333% - 1rem);
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
  .threequarters,
  .twothirds {
    flex: 1 1 calc(66.6666666667% - 1rem);
    width: calc(66.6666666667% - 1rem);
    margin: 0 0.5rem;
  }
  .eleventwelfths {
    flex: 1 1 calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
  }
  #content {
    margin-top: 90px;
    padding: 0 0 30px;
  }
  #content .full {
    padding: 0;
  }
  #content .full .row .full {
    padding-right: 0;
    padding-left: 0;
  }
  #content .content-block .quarter .square {
    max-height: 128px;
  }
  #content .content-block .threequarters {
    padding-top: 0;
    padding-left: 1em;
  }
  body.hasuser header {
    top: 36px !important;
  }
  body.hasuser #banner {
    margin-top: 120px !important;
  }
  body.hasuser #content {
    margin-top: 120px !important;
  }
  .search-filters {
    display: block;
    margin-bottom: 30px;
  }
  .search-filters .advanced-search.button {
    display: inline-block;
    float: right;
    width: auto;
    margin: 0;
  }
  nav.pagination form {
    width: auto;
  }
  .browse-controls > * {
    width: auto;
  }
  .browse-controls > form.sorting {
    margin-bottom: 15px;
  }
  .browse-controls > form.sorting > * {
    width: auto;
    margin-bottom: 15px;
  }
  .item-showcase .resource.item:not(:only-child) {
    width: 50%;
  }
  #itemproperties.third {
    flex-basis: calc(33.33333% - 1.5rem);
    width: calc(33.33333% - 1.5rem);
  }
  .site-page-interviews #content .content-block .blocks-inner .block-media .media-embed {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
    transition-duration: 100ms;
  }
  .row {
    flex-flow: row;
  }
  .third {
    flex: 1 1 calc(33.3333333333% - 1rem);
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
  .twothirds {
    flex: 1 1 calc(66.6666666667% - 1rem);
    width: calc(66.6666666667% - 1rem);
    margin: 0 0.5rem;
  }
  .half {
    flex: 1 1 calc(50% - 1rem);
    width: calc(50% - 1rem);
    margin: 0 0.5rem;
  }
  .quarter {
    flex: 1 1 calc(25% - 1rem);
    width: calc(25% - 1rem);
    margin: 0 0.5rem;
  }
  .threequarters {
    flex: 1 1 calc(75% - 1rem);
    width: calc(75% - 1rem);
    margin: 0 0.5rem;
    padding-top: 0;
  }
  .twelfth {
    flex: 1 1 calc(8.3333333333% - 1rem);
    width: calc(8.3333333333% - 1rem);
    margin: 0 0.5rem;
    display: block;
    margin-left: 1rem;
  }
  .eleventwelfths {
    flex: 1 1 calc(91.6666666667% - 1rem);
    width: calc(91.6666666667% - 1rem);
    margin: 0 0.5rem;
    margin-top: 0;
  }
  #content {
    margin-top: 0;
  }
  #content::before {
    background-size: cover;
  }
  #content .full {
    padding: 0;
  }
  #content .full .site-summary.secondary-title {
    display: none;
  }
  #content .full .row .full {
    padding-right: 0;
    padding-left: 0;
  }
  #content h1 .title,
  #content h2 .title,
  #content h3 .title,
  #content h4 .title {
    text-align: left;
  }
  #content .content-block + .content-block {
    margin-top: 0;
  }
  #content .content-block .threequarters {
    padding-top: 0;
    padding-left: 1em;
  }
  #content .content-block .quarter .square {
    max-height: initial;
  }
  table {
    margin: 30px 0;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 7.5px 15px;
    padding-bottom: 6.5px;
    text-align: left;
    border-bottom: 1px solid #ababab;
  }
  footer {
    padding: 0 1.25rem 30px;
  }
  footer .footerinfo {
    display: flex;
    flex-flow: row;
    height: 210px;
  }
  footer .footerinfo div {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }
  footer .footerinfo #footertext {
    flex: 1 1 calc(58.3333333333% - 1rem);
    width: calc(58.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
  footer .footerinfo #footerlogo {
    flex: 1 1 calc(41.6666666667% - 1rem);
    width: calc(41.6666666667% - 1rem);
    margin: 0 0.5rem;
  }
  footer .footerinfo #footerlogo img {
    float: right;
    height: 120px;
    vertical-align: top;
  }
  #mobilemenu {
    display: none;
  }
  .menu.closed {
    display: inline-block;
  }
  header > * {
    padding: 0;
  }
  header nav {
    max-width: 1700px;
    margin: 0 auto;
    position: static;
    height: 54px;
    padding: 0 1rem;
  }
  header nav::before {
    display: none;
    content: "";
    border: 0;
  }
  header nav ul a {
    padding: 0;
  }
  header nav ul li {
    position: static;
  }
  header nav.closed ul,
  header nav ul ul li {
    overflow: visible;
    height: auto;
  }
  header nav ul a:hover {
    background-color: transparent;
  }
  header nav ul li,
  header nav > ul li:last-child,
  header nav > ul ul:hover > li {
    border: 0;
  }
  header nav > ul.menu {
    float: left;
    max-width: 65%;
    height: 54px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
  }
  header nav > ul.menu a {
    padding: 0;
    color: #000;
  }
  header nav > ul.menu a:hover {
    color: #424141;
    background-color: transparent;
  }
  header nav > ul.menu li {
    height: 54px;
    line-height: 40px;
  }
  header nav > ul.menu > li {
    display: inline-block;
    float: left;
    width: auto;
    padding: 0 7.5px;
    border-top: none;
    border-bottom: none;
  }
  header nav > ul.menu > li:hover {
    background-color: #12312b;
  }
  header nav > ul.menu > li:hover a {
    color: #fff;
  }
  header nav > ul.menu > li:hover > a:hover {
    color: #fff;
  }
  header nav > ul.menu li ul::before {
    display: none;
  }
  header nav > ul.menu > li > ul {
    position: absolute;
    z-index: 1;
    left: -9999px;
    display: flex;
    flex-flow: row wrap;
    width: 1700px;
    padding: 14px 0 6.5px;
    list-style: none;
    border: solid #ababab;
    border-width: 1px 0;
    background-color: #12312b;
  }
  header nav > ul.menu > li:hover > ul {
    max-width: 1700px;
    margin: 0 auto;
    position: fixed;
    top: 54px;
    right: 0;
    left: 0;
    padding: 0 2.5rem;
    border: none;
  }
  header nav > ul.menu > li:hover > ul::after {
    position: absolute;
    inset: 0 -9999px;
    z-index: -1;
    content: "";
    background-color: #12312b;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
  }
  header nav > ul.menu > li > ul > li {
    padding-bottom: 30px;
  }
  header nav > ul.menu > li > ul > li > a {
    color: #12312b;
  }
  header nav > ul.menu > li > ul > li > a:hover {
    color: #c4dd88;
  }
  header nav > ul.menu > li > ul > li ul {
    height: auto;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
  }
  header nav > ul > li > a {
    height: 1.875rem;
    margin: 7.5px;
    color: #fff;
  }
  header nav > ul > li > a:not(:only-child)::after {
    display: inline-block;
    width: 10px;
    margin-left: 7.5px;
    content: "\f105";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: bold;
    line-height: 1em;
  }
  header nav > ul > li > a:not(:only-child):hover::after {
    content: "\f107";
  }
  header nav > ul li:hover ul li {
    height: auto;
    padding: 7.5px 30px 7.5px 7.5px;
  }
  header nav > ul > li > ul > li a,
  header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
  }
  header nav > ul.menu > li > ul > li a {
    padding-left: 0;
  }
  header nav > ul.menu > li > ul > li.active > a {
    margin-left: 0;
  }
  .sub-menu ul {
    padding-bottom: 14px;
    border-bottom: 1px solid #ababab;
  }
  .sub-menu li {
    display: inline-block;
    margin-right: 15px;
    padding: 0;
    border: 0;
  }
  .sub-menu li:first-of-type {
    padding: 0;
    border: 0;
  }
  #search {
    position: relative;
    top: auto;
    display: inline-block;
    float: right;
    width: 30%;
    padding: 7.5px;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  #search form input[type=text],
  #search form button[type=submit] {
    height: 38px;
    font-size: 0.9375rem;
  }
  #search form button[type=submit] {
    width: 38px;
    padding: 0;
    line-height: 38px;
  }
  #search form button[type=submit]::before {
    line-height: 38px;
  }
  #banner {
    position: relative;
    display: block;
    margin-top: 54px;
  }
  #banner #bannercontent {
    margin: 0;
    padding: 45px 1.5rem 30px;
  }
  #banner #bannercontent #site-title {
    display: inline-block;
    text-align: left;
    color: #12312b;
    font-family: "Lora", georgia, serif;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.2rem;
  }
  #banner #bannercontent #site-title:hover,
  #banner #bannercontent #site-title:active {
    color: #12312b;
    border-bottom: 0;
  }
  #banner #bannercontent #site-title h1 {
    margin: 0;
  }
  #banner #bannercontent .site-summary {
    display: block;
    text-align: left;
    letter-spacing: 0.03em;
    color: #12312b;
    font-size: 1.875rem;
    line-height: 1.5em;
  }
  ul.resource-list .resource img {
    float: right;
    width: 120px;
    height: auto;
  }
  ul.resource-list .resource img ~ * {
    width: calc(100% - 135px);
  }
  body.item-set.item #content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
  }
  body.item-set.item #content > h2,
  body.item-set.item #content > h3 {
    width: 100%;
  }
  body.item-set .metadata {
    flex: 0 0 33.3333333333%;
    margin-right: 1.25rem;
    padding-left: 1.25rem;
    border-left: 5px solid #ababab;
  }
  body.item-set .metadata h4:first-of-type {
    margin-top: 0;
  }
  body.item-set #content .metadata ~ * {
    flex: 0 0 66.6666666667%;
    padding-left: 1.25rem;
    border-left: 1px solid #ababab;
  }
  body.item-set .item-set-items h3 {
    margin-top: 0;
  }
  body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
  }
  .item-showcase .resource.item:not(:only-child) {
    width: 25%;
  }
  .item-with-metadata #itemmedia .show.resource {
    margin: 0 0 60px 0;
  }
  .item-with-metadata #itemmedia .show.resource .media img {
    max-width: 270px;
  }
  a.media.resource + a.media.resource {
    margin-top: 0;
    margin-right: 15px;
  }
  .preview-block {
    clear: both;
  }
  ul.preview.resource-list li:first-of-type {
    padding-top: 29px;
    border-top: 1px solid #ababab;
  }
  .interview {
    margin-bottom: 0;
  }
  #properties .property {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.5em;
  }
  #properties .property h4 {
    margin-top: 0;
  }
  #properties .property h5 {
    margin-bottom: 0;
  }
  #itemtranscript #transcriptinfo {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: right;
  }
  #itemtranscript #transcriptinfo h4 {
    float: left;
    margin-bottom: 0;
  }
  .content-block #itemproperties {
    margin-bottom: 0;
  }
  body.hasuser #content {
    margin-top: 0 !important;
  }
  body.hasuser header nav > ul.menu > li:hover > ul {
    top: 90px !important;
  }
  body.hasuser #banner {
    margin-top: 90px !important;
  }
  .field .field-meta {
    flex: 1 1 calc(16.6666666667% - 1rem);
    width: calc(16.6666666667% - 1rem);
    margin: 0 0.5rem;
  }
  .field .inputs {
    flex: 1 1 calc(83.3333333333% - 1rem);
    width: calc(83.3333333333% - 1rem);
    margin: 0 0.5rem;
  }
  .field .inputs:last-child {
    margin-right: 0;
  }
  .field .inputs .add-value.button {
    width: fit-content;
  }
  #advanced-search .value:not(:last-child) {
    margin-bottom: 15px;
  }
  #advanced-search .value select,
  #advanced-search .value input {
    width: auto;
    margin: 0 7.5px 7.5px 0;
  }
  #advanced-search .value select + .button,
  #advanced-search .value input + .button {
    margin-left: 7.5px;
  }
  #page-actions input {
    width: auto;
  }
  .site-page-interviews #content .content-block .blocks-inner .block-media .media-embed {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  #banner #bannercontent .site-summary {
    line-height: 1em;
  }
}
@media screen and (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .cutouttitle {
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */
