@use "base" as spk;

@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
    transition-duration: 100ms;
  }
  .row {
    flex-flow: row;
  }
  .third {
    @include spk.span(4);
  }
  .twothirds {
    @include spk.span(8);
  }
  .half {
    @include spk.span(6);
  }
  .quarter {
    @include spk.span(3);
  }
  .threequarters {
    @include spk.span(9);

    padding-top: 0;
  }
  .twelfth {
    @include spk.span(1);

    display: block;
    margin-left: 1rem;
  }
  .eleventwelfths {
    @include spk.span(11);

    margin-top: 0;
  }

  #content {
    margin-top: 0;
    &::before {
      background-size: cover;
    }
    .full {
      padding: 0;
      .site-summary.secondary-title {
        display: none;
      }
      .row {
        .full {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
    h1,
    h2,
    h3,
    h4 {
      .title {
        text-align: left;
      }
    }
    .content-block {
      + .content-block {
        margin-top: 0;
      }
      .threequarters {
        padding-top: 0;
        padding-left: 1em;
      }
      .quarter {
        .square {
          max-height: initial;
        }
      }
    }
  }

  table {
    margin: spk.$spacing-l 0;
    border-collapse: collapse;
  }

  th,
  td {
    padding: spk.$spacing-s spk.$spacing-m;
    padding-bottom: spk.$spacing-s - 1px;
    text-align: left;
    border-bottom: 1px solid spk.$gray;
  }

  // @group ----- Footer -----

  footer {
    padding: 0 1.25rem spk.$spacing-l;
    .footerinfo {
      display: flex;
      flex-flow: row;
      height: (7 * spk.$spacing-l);
      div {
        margin-bottom: 0;
        padding: 0;
        text-align: left;
      }
      #footertext {
        @include spk.span(7);
      }
      #footerlogo {
        @include spk.span(5);

        img {
          float: right;
          height: (4 * spk.$spacing-l);
          vertical-align: top;
        }
      }
    }
  }

  // @end

  // @group ----- Navigation -----
  #mobilemenu {
    display: none;
  }

  .menu.closed {
    display: inline-block;
  }
  header > * {
    padding: 0;
  }
  header nav {
    @include spk.container;

    position: static;
    height: 54px;
    padding: 0 1rem;
  }

  header nav::before {
    display: none;
    content: "";
    border: 0;
  }

  header nav ul a {
    padding: 0;
  }

  header nav ul li {
    position: static;
  }

  header nav.closed ul,
  header nav ul ul li {
    overflow: visible;
    height: auto;
  }

  header nav ul a:hover {
    background-color: transparent;
  }

  header nav ul li,
  header nav > ul li:last-child,
  header nav > ul ul:hover > li {
    border: 0;
  }

  header nav > ul.menu {
    float: left;
    max-width: 65%;
    height: 54px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    a {
      padding: 0;
      color: spk.$black;
    }
    a:hover {
      color: spk.$bold;
      background-color: transparent;
    }
    li {
      height: 54px;
      line-height: 40px;
    }
    > li {
      display: inline-block;
      float: left;
      width: auto;
      padding: 0 spk.$spacing-s;
      border-top: none;
      border-bottom: none;
      &:hover {
        background-color: spk.$darkgreen;
        a {
          color: spk.$white;
        }
        > a:hover {
          color: spk.$white;
        }
      }
    }
    li ul::before {
      display: none;
    }

    > li > ul {
      position: absolute;
      z-index: 1;
      left: -9999px;
      display: flex;
      flex-flow: row wrap;
      width: spk.$maxwidth;
      padding: (spk.$spacing-m - 1px) 0 (spk.$spacing-s - 1px);
      list-style: none;
      border: solid spk.$gray;
      border-width: 1px 0;
      background-color: spk.$darkgreen;
    }

    > li:hover > ul {
      @include spk.container;

      position: fixed;
      top: 54px;
      right: 0;
      left: 0;
      padding: 0 (2 * spk.gutter());
      border: none;

      &::after {
        position: absolute;
        inset: 0 -9999px;
        z-index: -1;
        content: "";
        background-color: spk.$darkgreen;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
      }
    }

    > li > ul > li {
      padding-bottom: spk.$spacing-l;
      > a {
        color: spk.$darkgreen;
        &:hover {
          color: spk.$lightgreen;
        }
      }
    }

    > li > ul > li ul {
      height: auto;
      padding: 0;
      list-style-type: none;
      font-weight: normal;
    }
  }

  header nav > ul > li > a {
    height: spk.$base-line-height;
    margin: spk.$spacing-s;
    color: spk.$white;
  }

  // All top-level nav items with siblings are parent items and get an arrow.
  header nav > ul > li > a:not(:only-child)::after {
    display: inline-block;
    width: 10px;
    margin-left: spk.$spacing-s;
    content: "\f105";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: bold;
    line-height: 1em;
  }
  header nav > ul > li > a:not(:only-child):hover::after {
    content: "\f107";
  }

  header nav > ul li:hover ul li {
    height: auto;
    padding: spk.$spacing-s spk.$spacing-l spk.$spacing-s spk.$spacing-s;
  }

  // Second and Third level items
  header nav > ul > li > ul > li a,
  header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
  }
  header nav > ul.menu > li > ul > li a {
    padding-left: 0;
  }
  header nav > ul.menu > li > ul > li.active > a {
    margin-left: 0;
  }

  .sub-menu ul {
    padding-bottom: (spk.$spacing-m - 1px);
    border-bottom: 1px solid spk.$gray;
  }

  .sub-menu li {
    display: inline-block;
    margin-right: spk.$spacing-m;
    padding: 0;
    border: 0;

    &:first-of-type {
      padding: 0;
      border: 0;
    }
  }

  #search {
    position: relative;
    top: auto;
    display: inline-block;
    float: right;
    width: 30%;
    padding: spk.$spacing-s;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  #search form input[type="text"],
  #search form button[type="submit"] {
    height: spk.$base-search-height;
    font-size: 0.75 * spk.$base-font-size;
  }

  #search form button[type="submit"] {
    width: spk.$base-search-height;
    padding: 0;
    line-height: spk.$base-search-height;
    &::before {
      line-height: spk.$base-search-height;
    }
  }

  // @end

  // @group ----- Banner -----
  #banner {
    position: relative;
    display: block;
    margin-top: 54px;
    #bannercontent {
      margin: 0;
      padding: (3 * spk.$spacing-m) 1.5rem spk.$spacing-l;
      #site-title {
        display: inline-block;
        text-align: left;
        color: spk.$darkgreen;
        font-family: spk.$serif;
        font-size: 6rem;
        font-weight: bold;
        line-height: 1.2rem;
      }

      #site-title:hover,
      #site-title:active {
        color: spk.$darkgreen;
        border-bottom: 0;
      }

      #site-title h1 {
        margin: 0;
      }
      .site-summary {
        display: block;
        text-align: left;
        letter-spacing: 0.03em;
        color: spk.$darkgreen;
        font-size: spk.$base-line-height;
        line-height: 1.5em;
      }
    }
  }

  // @end

  // @group ----- Resource List -----

  ul.resource-list .resource img {
    float: right;
    width: 4 * spk.$spacing-l;
    height: auto;
  }

  ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * spk.$spacing-l});
  }

  // @end

  // @group ----- Item Set -----

  body.item-set.item #content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;

    > h2,
    > h3 {
      width: 100%;
    }
  }

  body.item-set .metadata {
    flex: 0 0 calc(100% / 12 * 4);
    margin-right: spk.gutter();
    padding-left: spk.gutter();
    border-left: 5px solid spk.$gray;
  }

  body.item-set .metadata h4:first-of-type {
    margin-top: 0;
  }

  body.item-set #content .metadata ~ * {
    flex: 0 0 calc(100% / 12 * 8);
    padding-left: spk.gutter();
    border-left: 1px solid spk.$gray;
  }

  body.item-set .item-set-items h3 {
    margin-top: 0;
  }

  body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
  }

  .item-showcase .resource.item {
    &:not(:only-child) {
      width: 25%;
    }
  }

  .item-with-metadata #itemmedia .show.resource {
    margin: 0 0 (2 * spk.$spacing-l) 0;
    .media img {
      max-width: (9 * spk.$spacing-l);
    }
  }

  a.media.resource + a.media.resource {
    margin-top: 0;
    margin-right: spk.$spacing-m;
  }

  // @end

  // @group ----- Page and blocks -----

  .preview-block {
    clear: both;
  }

  ul.preview.resource-list li:first-of-type {
    padding-top: (spk.$spacing-l - 1px);
    border-top: 1px solid spk.$gray;
  }

  // @end

  .interview {
    margin-bottom: 0;
  }

  #properties {
    .property {
      margin-top: 0.5em;
      margin-bottom: 0;
      line-height: 1.5em;
      h4 {
        margin-top: 0;
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }

  #itemtranscript {
    #transcriptinfo {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: right;
      h4 {
        float: left;
        margin-bottom: 0;
      }
    }
  }
  .content-block #itemproperties {
    margin-bottom: 0;
  }

  body.hasuser {
    #content {
      margin-top: 0 !important;
    }
    header nav > ul.menu > li:hover > ul {
      top: 90px !important;
    }
    #banner {
      margin-top: 90px !important;
    }
  }

  .field .field-meta {
    @include spk.span(2);
  }

  .field .inputs {
    @include spk.span(10);
    &:last-child {
      margin-right: 0;
    }
    .add-value.button {
      width: fit-content;
    }
  }

  #advanced-search .value {
    &:not(:last-child) {
      margin-bottom: spk.$spacing-m;
    }
    select,
    input {
      width: auto;
      margin: 0 spk.$spacing-s spk.$spacing-s 0;
      + .button {
        margin-left: spk.$spacing-s;
      }
    }
  }

  #page-actions {
    input {
      width: auto;
    }
  }

  // interviews page
  .site-page-interviews
    #content
    .content-block
    .blocks-inner
    .block-media
    .media-embed {
    grid-template-columns: repeat(4, 1fr);
  }
}
