@use "base" as spk;
@use "sass:math";
@use "sass:color";

* {
  box-sizing: border-box;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  word-wrap: break-word;
  background-color: spk.$light;
  font-family: spk.$sansserif;
  font-size: spk.$base-font-size;
  line-height: spk.$base-line-height;
}

a:link {
  text-decoration: none;
  color: spk.$darkgreen;
}

a:visited {
  color: spk.$darkgreen;
}

a:active,
a:hover {
  color: spk.$bold;
}

h1 {
  font-size: 2 * spk.$base-font-size;
  line-height: 2 * spk.$base-line-height;
}

h2 {
  font-size: 1.5 * spk.$base-font-size;
  line-height: 1.5 * spk.$base-line-height;
}

h3 {
  font-size: 1.25 * spk.$base-font-size;
  line-height: 1.5 * spk.$base-line-height;
}

h4 {
  font-size: 1.125 * spk.$base-font-size;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  @include spk.container;

  display: flex;
  flex-flow: column;
  + .row {
    margin-top: 20px;
  }
}
.full {
  @include spk.span(12);
}
.third {
  @include spk.span(12);
}
.twothirds {
  @include spk.span(12);
}
.half {
  @include spk.span(12);
}
.quarter {
  @include spk.span(12);
}
.threequarters {
  @include spk.span(12);
}
.twelfth {
  display: none;
}
.eleventwelfths {
  @include spk.span(12);
}

.yellowbg {
  background-color: spk.$yellowbg !important;
}
.orangebg {
  background-color: spk.$orangebg !important;
}
.redbg {
  background-color: spk.$redbg !important;
}
.greenbg {
  background-color: spk.$greenbg !important;
}
.lightbluebg {
  background-color: spk.$lightbluebg !important;
}
.bluebg {
  background-color: spk.$bluebg !important;
}
.purplebg {
  background-color: spk.$purplebg !important;
}
.whitebg {
  background-color: spk.$white !important;
}
.yellowtext {
  color: spk.$yellow;
}
.orangetext {
  color: spk.$orange;
}
.redtext {
  color: spk.$red;
}
.greentext {
  color: spk.$green;
}
.lightbluetext {
  color: spk.$lightblue;
}
.bluetext {
  color: spk.$blue;
}
.purpletext {
  color: spk.$purple;
}
.whitetext {
  color: spk.$white !important;
  * {
    color: spk.$white !important;
  }
  *:hover {
    color: spk.$white !important;
  }
}

.centertext {
  text-align: center;
}

// @group ----- Forms -----

input,
textarea,
button,
.button,
select {
  margin: 0;
  vertical-align: top;
  font-family: spk.$sansserif;
  font-size: spk.$base-font-size;
  line-height: spk.$base-line-height;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
  height: 1.5 * spk.$spacing-l;
  margin: 0;
  padding: (spk.$spacing-s - 0.5px) spk.gutter() (spk.$spacing-s - 1.5px);
  border: 1px solid spk.$gray;
  appearance: none;
  border-radius: 0;
}

textarea {
  height: 3 * spk.$spacing-l;
}

input[type="file"] {
  vertical-align: bottom;
  font-size: 0.75 * spk.$base-font-size;
  line-height: 1;
}

button,
.button,
a.button,
[type="submit"] {
  display: inline-block;
  padding: spk.$spacing-s (2 * spk.$spacing-s);
  cursor: pointer;
  color: spk.$white;
  border: 0;
  border-radius: 2px;
  background-color: spk.$green;
  appearance: none;
  font-size: spk.$base-font-size;
  line-height: spk.$base-line-height;
  &:hover {
    color: spk.$white;
    background-color: spk.$darkgreen;
  }
  &.inactive {
    opacity: 0.5;
    background-color: spk.$gray;

    &:hover {
      background-color: spk.$gray;
    }
  }
}

select {
  height: 1.5 * spk.$spacing-l;
  margin-bottom: 0.5rem;
  padding: spk.$spacing-s;
  border-color: spk.$gray;
  background-color: spk.$white;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: spk.$spacing-l 0;
}

.field .field-meta {
  @include spk.span(12);

  display: flex;
  flex-flow: column;
}

.field .inputs {
  @include spk.span(12);

  display: flex;
  flex-flow: column;

  > select,
  > textarea,
  > input[type="text"],
  > input[type="password"],
  > input[type="email"],
  > input[type="url"] {
    width: 100%;
  }

  input[type="checkbox"] {
    vertical-align: bottom;
  }
  .add-value.button {
    text-align: center;
  }
}

.field.required .field-meta::after {
  content: "\f069";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 0.75 * spk.$base-font-size;
  font-weight: bold;
}

.field .value:not(:last-child) {
  margin-bottom: spk.$spacing-m;
}

.field-description {
  font-size: 0.75 * spk.$base-font-size;
}

// @end

// @group ----- Navigation -----
header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 66px;
  padding: 0.5rem;
  background: linear-gradient(
    to right,
    spk.$redbg 0%,
    spk.$orangebg 17%,
    spk.$yellowbg 33%,
    spk.$greenbg 50%,
    spk.$lightbluebg 67%,
    spk.$bluebg 83%,
    spk.$purplebg 100%
  );
  box-shadow: 0 4px 5px 0 rgb(0, 0, 0, 0.15);

  > * {
    display: block;
    padding: 0 spk.gutter();
  }
  .closed {
    display: none;
  }
  .open {
    display: block;
    .closed {
      display: inline;
      > * {
        display: none;
      }
    }
  }
  nav {
    position: relative;
    padding: 0 1rem;
    > .open {
      position: absolute;
      top: 54px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: inline-block;
      list-style: none;
    }
    li {
      list-style: none;
    }
  }
}

header nav > ul.menu {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  background-color: spk.$darkgreen;
  box-shadow: 0 4px 5px 0 rgb(0, 0, 0, 0.5);
  a {
    display: inline-block;
    width: 100%;
    padding: spk.$spacing-s;
    color: spk.$white;
  }

  a:hover {
    color: spk.$white;
    border-bottom: 0;
  }

  li {
    position: relative;
  }
  > li {
    width: 100%;
  }

  li li:last-of-type {
    padding-bottom: 0;
  }

  li.active {
    font-weight: bold;
  }
  li > ul {
    color: spk.$darkgreen;
    background-color: spk.$lightgreen;
    a {
      color: spk.$darkgreen;
    }
    a:hover {
      color: spk.$darkgreen;
    }
  }
  li > ul::before {
    position: absolute;
    top: 0;
    right: 0;
    width: spk.$spacing-l;
    padding: spk.$spacing-s;
    content: "\f105";
    text-align: center;
    color: spk.$white;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: bold;
  }

  li > ul:hover::before {
    content: "\f107";
  }
  li > ul.open::before {
    content: "\f107";
  }
  li > ul.closed::before {
    content: "\f105";
  }

  a:hover ~ ul::before {
    color: spk.$gray;
  }
  > ul {
    margin-left: spk.$base-spacing-height;
  }
}

header nav > ul.menu ul li {
  display: block;
  height: auto;
  border: 0;
}

header nav > ul.menu ul:hover > li {
  height: auto;
}

// Second level items
header nav > ul.menu > li > ul > li.active > a {
  margin-left: 0;
}

header nav > ul.menu > li > ul > li a {
  padding-left: spk.$spacing-l;
}

// Third level items

.sub-menu ul {
  margin-top: spk.$spacing-m;
  padding-left: 0;
  list-style-type: none;
}

.sub-menu li {
  padding: spk.$spacing-s 0 (spk.$spacing-s - 1px);
  border-bottom: 1px solid spk.$light;
  font-size: 0.75 * spk.$base-font-size;
  font-weight: bold;

  &:first-of-type {
    padding-top: (spk.$spacing-s - 1px);
    border-top: 1px solid spk.$light;
  }
}

#mobilemenu {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: spk.$light;
  li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    list-style: none;
    line-height: spk.$spacing-l;
    &#mobilelogo {
      float: left;
      width: 36px;
      height: 54px;
      margin: 0 0 0 15px;
      padding: 0;
      content: "\00a0";
      background: url(spk.$mobilemenuicon) no-repeat;
      background-position: -8px 2px;
      background-size:
        50px 60px,
        cover;
    }
    &#mobilebanner {
      float: left;
      font-family: spk.$serif;
      font-size: 1.7em;
      font-weight: bold;
      line-height: 100%;
    }
    &.rightctl {
      float: right;
      width: 50px;
      height: 54px;
      cursor: pointer;
      text-align: center;
      background-color: transparent;
      font-size: 1.6em;
      &.clicked {
        color: spk.$white;
        background-color: spk.$darkgreen;
      }
    }
  }
}

nav.pagination {
  margin-bottom: 15px;
  font-size: spk.$base-font-size;
  line-height: 1.5 * spk.$base-line-height;
  span {
    display: inline-block;
    height: (3 * spk.$spacing-m);
  }
  input {
    width: 2 * spk.$spacing-l;
    text-align: center;
  }
  form {
    width: 100%;
    min-width: 3 * spk.$spacing-l;
    margin-bottom: spk.$spacing-m;
  }
}

.resource-list + .pagination {
  border-color: transparent;
}

.pagination form,
.pagination .button,
.pagination button,
.pagination .page-count {
  display: inline-block;
  height: 1.5 * spk.$base-line-height;
  vertical-align: top;
}
.pagination .page-count,
.pagination .row-count {
  margin: 0 spk.$spacing-m;
}

.pagination form,
.pagination .last {
  margin-right: spk.$spacing-s;
}

.breadcrumbs {
  min-height: 0;
  margin: 0 0 0 1rem !important;
  margin-bottom: 0.4em;
  font-size: 0.8em;
  font-weight: bold;
}

// @end

// @group ----- Header -----

button.o-icon-search {
  display: none;
}
.o-icon-prev,
.o-icon-next {
  width: (1.5 * spk.$base-line-height);
  height: (1.5 * spk.$base-line-height);
  text-align: center;
}

#search-form {
  #quicksearchlabel {
    position: absolute;
    top: -100px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }
}

#search {
  position: absolute;
  right: 0;
  left: 0;
  padding: spk.$spacing-s spk.gutter();
  background-color: spk.$darkgreen;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

#search form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}

#search form input[type="text"] {
  width: 100%;
  border-radius: 3px 0 0 3px;
}

#search form button[type="submit"] {
  position: relative;
  width: 1.5 * spk.$base-spacing-height;
  height: 1.5 * spk.$base-spacing-height;
  text-indent: -9999px;
  border-radius: 0 3px 3px 0;
  background-color: spk.$gray;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "\f061";
    text-align: center;
    text-indent: 0;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: bold;
    line-height: 1.5 * spk.$base-spacing-height;
  }
  &:hover {
    background-color: spk.$bold;
  }
}

// @end

// @group ----- Banner -----

#banner {
  display: none;
  margin: 0 1rem;
}

// @end

// @group ------ Sharing Buttons -----

#after ul#sharing-buttons {
  padding-left: 0.75rem;
}

// @group ----- Footer -----

footer {
  color: spk.$white;
  background-color: spk.$darkgreen;
  a {
    color: spk.$white;
    &:hover {
      color: spk.$lightgreen;
    }
    &:visited {
      color: spk.$white;
    }
    &:active {
      color: spk.$white;
    }
    &:link {
      color: spk.$white;
    }
  }
  .footerinfo {
    @include spk.container;

    display: flex;
    flex-flow: column;
    padding: 3rem 1rem;
    img {
      height: 120px;
    }
    div {
      margin-bottom: 2 * spk.$base-spacing-height;
      padding: 0 (2 * spk.gutter());
      text-align: center;
    }
  }
}

// @end

// @group ----- Page and Blocks -----
article {
  // box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.15);
  position: relative;
  margin: 0 1rem;
  padding-top: 1px;
}

#content {
  @include spk.container;

  margin-top: 54px;
  padding-bottom: (2 * spk.$spacing-l);
  *:first-child {
    margin-top: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
    letter-spacing: 0.04em;
    color: spk.$darkgreen;
    font-family: spk.$serif;
    line-height: 2em;
    .title {
      display: block;
      line-height: 1.5em;
    }
  }
  h4 {
    border-bottom: solid 1px spk.$darkgreen;
    font-size: 1.2em;
  }
  h5,
  h6 {
    margin-bottom: 0.5em;
    letter-spacing: 0.06em;
    font-family: spk.$sansserif;
    line-height: 1.6em;
    + p {
      margin-top: 0.5em;
    }
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    margin-bottom: 0.25em;
    padding-left: 1em;
    border-left: solid 3px spk.$gray;
    font-size: 0.9em;
  }
  > .full {
    padding: spk.$spacing-l 0 spk.$spacing-l;
    > .content-block {
      h2 {
        margin-bottom: 0.75em;
      }
    }
    .site-summary {
      display: block;
      margin-bottom: spk.$spacing-l;
      margin-left: 1rem;
      color: spk.$darkgreen;
      font-size: 1.3em;
      font-weight: bold;
    }
  }
  .half {
    .content-block {
      h2 {
        margin-bottom: 0;
      }
    }
  }
  .content-block {
    padding: 1em;
    background-color: spk.$white;
    + .content-block {
      margin-top: 20px;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: normal;
    }
    p {
      max-width: spk.$max-reading-width;
      margin-top: 0;
      margin-bottom: 0;
    }
    .threequarters {
      margin-right: 0;
      padding-top: 1em;
    }
    .quarter {
      .square {
        position: relative;
        display: block;
        width: 100%;
        max-height: (4 * spk.$spacing-l);
        content: "\00a0";
        line-height: 0;
        &::after {
          display: block;
          padding-bottom: 100%;
          content: "";
        }
        .squarecontent {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 1em;
          line-height: 1em;
        }
      }
    }
  }
}

.item-showcase {
  display: flex;
  clear: both;
  overflow: hidden;
  flex-wrap: wrap;
  margin: spk.$spacing-l 0;
  padding: (spk.$spacing-l - 1px) 0 0;
  text-align: center;
}

.item.resource .caption {
  font-size: 0.75 * spk.$base-font-size;
  line-height: spk.$base-line-height;

  * {
    margin: 0 0 spk.$spacing-l 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.item-showcase .resource.item {
  margin-bottom: spk.$spacing-l;
  vertical-align: top;

  img {
    margin-right: spk.$spacing-m;
  }

  &:only-child img {
    margin: 0 auto;
  }

  &:not(:only-child) {
    clear: none;
    width: 100%;
    padding: 0 spk.gutter();
  }

  &:not(:only-child) h3 {
    clear: left;
    margin: spk.$spacing-m 0 0;
    font-size: 0.75 * spk.$base-font-size;
    line-height: spk.$base-line-height;
  }

  &:not(:only-child) img {
    float: none;
    max-height: 7 * spk.$spacing-l;
    margin-right: 0;
    vertical-align: top;
  }
  .squareimage {
    width: 7 * spk.$spacing-l;
    height: 7 * spk.$spacing-l;
    object-fit: cover;
  }
  > a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }
}

.right,
.left {
  overflow: hidden;
}

.left .item.resource,
.right .item.resource {
  width: min-content;
  max-width: 40vw;
  margin: 0 0 spk.$spacing-l 0;

  &:first-of-type {
    margin-top: 0;
    padding-top: (spk.$spacing-l - 1px);
    border-top: 1px solid spk.$gray;
  }

  &:last-of-type {
    padding-bottom: (spk.$spacing-l - 1px);
    border-bottom: 1px solid spk.$gray;
  }

  .media-render > *,
  img {
    max-width: 40vw;
  }
}

.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
  max-width: 50%;
}

.left.file,
.right.file {
  max-width: 50%;
}

.left.file {
  float: left;
  clear: left;
}

.right.file {
  float: right;
  clear: right;
}

.left .item.resource {
  float: left;
  clear: left;
  margin-right: spk.$spacing-l;
}

.right .item.resource {
  float: right;
  clear: right;
  margin-left: spk.$spacing-l;
}

.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
  vertical-align: top;
}

.medium .item.resource > h3,
.square .item.resource > h3 {
  font-size: spk.$base-font-size;
  line-height: spk.$base-line-height;
}

.left .item.resource > h3,
.right .item.resource > h3 {
  margin: 0;
}

.left .item.resource + p,
.right .item.resource + p {
  margin-top: 0;
}

.break {
  clear: both;
  width: 100%;
  margin: spk.$spacing-l 0;
  padding-bottom: -1px;
  border-bottom: 1px solid spk.$gray;

  &.transparent {
    border-color: transparent;
  }

  &.opaque {
    border-color: spk.$gray;
  }
}

.preview-block {
  overflow: hidden;
  margin: spk.$spacing-l 0;
}

.resource-list.preview + a {
  display: inline-block;
  padding: spk.$spacing-s;
  text-align: center;
  border-radius: 2px;
  background-color: spk.$gray;
  font-weight: bold;
  line-height: spk.$base-line-height;

  &:hover {
    color: spk.$white;
    border-bottom-width: 0;
    background-color: spk.$bold;
  }
}

.toc-block > ul {
  margin: spk.$spacing-l 0;
  list-style-type: none;
  border-left: 5px solid spk.$gray;
}

.toc-block > ul > li {
  margin-bottom: spk.$spacing-m;
}

.toc-block > ul > li > a {
  font-weight: bold;
}

.toc-block ul ul {
  padding-left: 0;
  list-style-type: none;
}

.toc-block ul ul ul {
  padding-left: 1.25em;
}

.toc-block ul ul li::before {
  content: "\2014";
  color: spk.$gray;
}

.item-with-metadata #itemmedia .show.resource {
  margin: 0 0 (2 * spk.$spacing-l) 0;
  a {
    margin-right: 0;
  }
  .media img {
    max-width: 100%;
  }
}

.site-page-pagination {
  clear: both;
  margin-top: 2 * spk.$spacing-l;
}

.site-page-pagination a {
  display: inline-block;
  padding: spk.$spacing-s;
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  background-color: spk.$gray;
}

#content .list-of-sites {
  .site-list {
    margin: 1rem 0.5rem;
    .site {
      margin-bottom: spk.$spacing-m;
    }

    .site-link {
      display: inline-block;
      margin-bottom: spk.$spacing-s;
      font-size: 1.25 * spk.$base-font-size;
      font-weight: bold;
    }

    .site-summary {
      margin: 0 0 0 spk.$spacing-m;
      font-size: 0.9 * spk.$base-font-size;
      font-weight: normal;
    }
  }
}

// @end

// @group ----- Resource List -----

ul.resource-list {
  padding-left: 0;
  list-style-type: none;
}

ul.resource-list .resource {
  position: relative;
  overflow: hidden;
  margin: spk.$spacing-l 0;
  padding-bottom: (spk.$spacing-l - 1px);
  border-bottom: 1px solid spk.$gray;

  > *:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    padding-top: (spk.$spacing-l - 1px);
    border-top: 1px solid spk.$gray;
  }
}

.item.resource > a {
  background: linear-gradient(
    to right,
    spk.$redbg 0%,
    spk.$orangebg 17%,
    spk.$yellowbg 33%,
    spk.$greenbg 50%,
    spk.$lightbluebg 67%,
    spk.$bluebg 83%,
    spk.$purplebg 100%
  );
}

ul.resource-list .resource.item {
  a {
    img {
      width: 4 * spk.$spacing-l;
      height: 4 * spk.$spacing-l;
      object-fit: cover;
    }
  }
  > a {
    display: block;
    float: right;
  }
}

ul.resource-list .resource h4 {
  margin-top: 0;
}

ul.resource-list .resource .description {
  position: relative;
  overflow: hidden;
  max-height: 3 * spk.$spacing-l;

  &::after {
    position: absolute;
    top: 1.75 * spk.$spacing-l;
    right: 0;
    left: 0;
    height: 1.25 * spk.$spacing-l;
    content: "";
    background: linear-gradient(
      to top,
      rgba(248, 248, 248, 1),
      rgba(248, 248, 248, 0)
    );
  }
}

ul.resource-list .resource img ~ * {
  width: calc(100% - #{2.5 * spk.$spacing-l});
}

// @end

// @group ----- Browse ----

.search-filters {
  display: flex;
  flex-flow: column;
  min-height: 3 * spk.$spacing-m;
  margin-bottom: spk.$spacing-m;
  .filter {
    display: inline-block;
  }
  .advanced-search.button {
    display: inline-block;
    width: 100%;
    margin: spk.$spacing-m auto;
    text-align: center;
  }
}

.filter-label,
.filter-value {
  display: inline-block;
  padding: spk.$spacing-s spk.$spacing-m;
  color: spk.$darkgreen;
  border: 1px solid spk.$lightgreen;
}

.filter-label {
  background-color: spk.$lightgreen;
}

.filter-value {
  margin-left: -5px;
  background-color: spk.$white;
}

.browse-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    width: 100%;
  }
  > form.sorting {
    margin-bottom: spk.$spacing-m;
    > * {
      width: 100%;
      margin-bottom: spk.$spacing-m;
    }
  }
}

// @end

// @group ----- Show -----

body.resource #content > h2:first-of-type + h3 {
  margin: calc(spk.$spacing-l * -1) 0 spk.$spacing-l;
  text-transform: uppercase;
  font-size: 0.75 * spk.$base-font-size;
}

.property {
  margin-bottom: spk.$spacing-l;
}

.property h4 {
  margin-bottom: 0;
  font-size: 0.75 * spk.$base-font-size;
}

.resource-link img {
  display: inline-block;
  width: auto;
  height: 1.5 * spk.$spacing-l;
  margin-right: spk.$spacing-s;
  vertical-align: middle;
}

.property .value a {
  display: inline-block;
  vertical-align: middle;
}

.property .value:not(:last-child) img {
  margin-bottom: spk.$spacing-s;
}

.property .value:not(:last-child) img + a {
  margin-bottom: spk.$spacing-s;
}

.property .value .language {
  padding: 0.5 * spk.$spacing-s;
  background-color: color.scale(spk.$gray, $lightness: 45.53571%);
  font-size: 0.5 * spk.$base-font-size;
}

#content .media.resource {
  display: inline-block;
  margin-right: spk.$spacing-s;
  text-align: center;
  vertical-align: bottom;

  &:hover {
    border-bottom: 0;
  }
}

#content .media.resource img {
  margin-bottom: spk.$spacing-m;
  vertical-align: top;
}

a.media.resource + a.media.resource {
  margin-top: spk.$spacing-m;
  margin-right: 0;
}

.media-render > * {
  max-width: 100%;
}

#linked-resources caption {
  padding: spk.$spacing-s spk.$spacing-m (spk.$spacing-s - 3px);
  text-align: left;
  border-bottom: 3px solid spk.$gray;
  font-weight: bold;
}

#linked-filter h4 {
  margin-bottom: spk.$spacing-m;
}

#linked-resources .resource-link {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

// @end

// interviews page
.site-page-interviews
  #content
  .content-block
  .blocks-inner
  .block-media
  .media-embed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  h3 {
    line-height: normal;
  }
  a {
    display: inline-block;
  }
  img {
    max-height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .site-page-interviews
    #content
    .content-block
    .blocks-inner
    .block-media
    .media-embed {
    grid-template-columns: 100%;
  }
}

// @group ----- Advanced Search -----

#advanced-search .value {
  display: inline;
  &:not(:last-child) {
    margin-bottom: spk.$spacing-m;
  }
  select,
  input {
    float: left;
    width: 100%;
    margin: 0 0 spk.$spacing-s 0;
    + .button {
      height: 2.8rem;
      margin-left: 0;
    }
  }
}

#page-actions {
  input {
    width: 100%;
  }
}

.remove-value {
  position: relative;
  width: 1.5 * spk.$spacing-l;
  margin-left: spk.$spacing-s;
  text-indent: -9999px;

  &::before {
    position: absolute;
    inset: 0;
    text-indent: 0;
    line-height: 1.5 * spk.$base-line-height;
  }
}

// @end

// @group ----- Common Modules ----

a.metadata-browse-link {
  font-size: 0.75 * spk.$base-font-size;
}

// ---item page----
.interview {
  display: block;
  overflow: auto;
  max-height: 400px;
  margin-bottom: (3 * spk.$spacing-m);
  padding: spk.$spacing-m;
  background-color: spk.$white;
  box-shadow: inset 0 -26px 44px -44px spk.$darkgreen;
  .speech + .speech::before {
    display: block;
    content: "\00a0";
  }
  .interlocutor {
    font-family: spk.$sansserif-bold;
  }
  .description {
    display: none;
  }
}

#properties {
  font-size: 0.8em;
  .property {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.5em;
    h4 {
      margin-top: 0;
      font-family: spk.$sansserif-regular;
    }
    h5 {
      margin-bottom: 0;
      font-family: spk.$sansserif-regular;
    }
  }
}

// @end

#user-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.cutouttitle {
  background: linear-gradient(
    to right,
    spk.$red 0%,
    spk.$orange 17%,
    spk.$yellow 33%,
    spk.$green 50%,
    spk.$lightblue 67%,
    spk.$blue 83%,
    spk.$purple 100%
  );
}

#itemproperties {
  max-height: fit-content;
  margin-left: 1rem;
  padding: 1em;
  color: spk.$black;
  background-color: spk.$lightgreen;
  &.no-transcript {
    padding: 0;
    background-color: transparent;
  }
  button {
    color: spk.$white;
    background-color: spk.$green;
  }
  .button {
    color: spk.$white;
    background-color: spk.$green;
    &:hover {
      background-color: spk.$darkgreen;
    }
  }
  #transcriptinfo {
    margin: 1rem 0;
  }
  &.third {
    flex-basis: calc(33.33333% - 1.5rem);
    width: calc(100% - 1.5rem);
  }
  #itemsets {
    margin-top: (3 * spk.$spacing-m);
  }
  .media-render {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90px;
    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
}
#itemtranscript {
  background-color: transparent;
  #transcriptinfo {
    margin-top: (3 * spk.$spacing-m);
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    h4 {
      margin-bottom: spk.$spacing-l;
      text-align: center;
    }
    a {
      button {
        margin-top: 4px !important;
      }
    }
  }
}

.content-block #itemproperties {
  margin-bottom: spk.$spacing-l;
}

body.hasuser {
  header {
    top: 36px !important;
  }
  #banner {
    margin-top: 90px !important;
  }
  #content {
    margin-top: 90px !important;
  }
}

.squarecontainer {
  width: 7 * spk.$spacing-l;
  height: 7 * spk.$spacing-l;
  &.compat-object-fit {
    background-position: center center;
    background-size: contain;

    // hide image if object fit is not supported - opacity to 0 for the link area
    .squareimage {
      opacity: 0;
    }
  }
}

#search-results {
  .item.resource > h3 {
    margin: 0;
  }
  .squarecontainer {
    width: 4 * spk.$spacing-l;
    height: 4 * spk.$spacing-l;
  }
}
