.row{
    flex-flow: wrap;
}
.left {
    @include span(12);
}
.right {
    @include span(12);
}
.half{
    @include span(12);
}
.quarter, .third{
    @include span(4);
}
.threequarters, .twothirds{
    @include span(8);
}

#content {
    padding: 0 (2 * gutter()) $spacing-l;
    .full{
        padding: 0;
        .row {
            .full {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .content-block {
        .threequarters {
            padding-top: 1em;
            padding-left: 1em;
        }
    }
}

body.hasuser{
    header{
        top:36px!important;
    }
    #banner{
        margin-top: 120px!important;
    }
    #content{
        margin-top: 120px!important;
    }
}