@use "base" as spk;

@media screen and (min-width: 768px) {
  .row {
    flex-flow: wrap;
  }
  .left {
    @include spk.span(12);
  }
  .right {
    @include spk.span(12);
  }
  .half {
    @include spk.span(12);
  }
  .quarter,
  .third {
    @include spk.span(4);
  }
  .threequarters,
  .twothirds {
    @include spk.span(8);
  }
  .eleventwelfths {
    @include spk.span(12);
  }

  #content {
    margin-top: 90px;
    padding: 0 0 spk.$spacing-l;
    .full {
      padding: 0;
      .row {
        .full {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
    .content-block {
      .quarter {
        .square {
          max-height: (4 * spk.$spacing-l) + 8;
        }
      }
      .threequarters {
        padding-top: 0;
        padding-left: 1em;
      }
    }
  }

  body.hasuser {
    header {
      top: 36px !important;
    }
    #banner {
      margin-top: 120px !important;
    }
    #content {
      margin-top: 120px !important;
    }
  }

  .search-filters {
    display: block;
    margin-bottom: spk.$spacing-l;
    .advanced-search.button {
      display: inline-block;
      float: right;
      width: auto;
      margin: 0;
    }
  }

  nav.pagination {
    form {
      width: auto;
    }
  }
  .browse-controls {
    > * {
      width: auto;
    }
    > form.sorting {
      margin-bottom: spk.$spacing-m;
      > * {
        width: auto;
        margin-bottom: spk.$spacing-m;
      }
    }
  }

  .item-showcase .resource.item {
    &:not(:only-child) {
      width: 50%;
    }
  }

  #itemproperties {
    &.third {
      flex-basis: calc(33.33333% - 1.5rem);
      width: calc(33.33333% - 1.5rem);
    }
  }

  // interviews page
  .site-page-interviews
    #content
    .content-block
    .blocks-inner
    .block-media
    .media-embed {
    grid-template-columns: repeat(3, 1fr);
  }
}
